@import "colors", "typography", "bootstrap" ;

/*=============================================
=            Global CSS            =
=============================================*/
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

body {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-body;
    }

    color: $codGray;
    font-family: $ff-worksans;
    font-size: $fs-m-body;
    font-weight: $fw-400;
    line-height: 1.5;
}

h1,
.h1 {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-h1;
    }

    font-size: $fs-m-h1;
    font-weight: $fw-600;
}

h2,
.h2 {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-h2;
    }

    font-size: $fs-m-h2;
    font-weight: $fw-600;
}

h3,
.h3 {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-h3;
    }

    font-size: $fs-m-h3;
    font-weight: $fw-600;
}

h4,
.h4 {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-h4;
    }

    font-size: $fs-m-h4;
    font-weight: $fw-400;
}

h5,
.h5 {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-h5;
    }

    font-size: $fs-m-h5;
    font-weight: $fw-400;
}

h6,
.h6 {
    @include media-breakpoint-up(md) {
        font-size: $fs-d-h6;
    }

    font-size: $fs-m-h6;
    font-weight: $fw-400;
}

.pg-section {
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    z-index: 10;

    @include media-breakpoint-up(md) {
        padding-bottom: 32px;
        padding-top: 32px;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 48px;
        padding-top: 48px;
    }
}

.pg-404 {
    padding-bottom: 96px;
    padding-top: 96px;
    position: relative;
    z-index: 10;

    @include media-breakpoint-up(md) {
        padding-bottom: 128px;
        padding-top: 128px;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 160px;
        padding-top: 160px;
    }
}

.pg-container {
    @extend .container;
}

.pg-container-fluid {
    @extend .container-fluid;
}

.pg-row {
    @extend .row;
}

.pg-col-full {
    @extend .col-12;
}

.pg-bg-light {
    background-color: $springWood;
}

.pg-bg-orange {
    background-color: $burntSienna;
}

.pg-bg-navy {
    background-color: $blueWood;
}

.pg-color-navy {
    color: $blueWood;
}

.pg-color-white {
    color: $white;
}

.pg-color-orange {
    color: $burntSienna;
}

section {
    overflow: hidden;

    a {
        color: $burntSienna;
        font-weight: $fw-600;
        text-decoration: underline;
    }
}

.pg-btn {
    color: $codGray;
    display: inline-block;
    font-size: 16px;
    font-weight: $fw-600;
    line-height: 1.5;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none !important;
    transition: 0.3s linear all;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }

    &:hover {
        color: $codGray;
        text-decoration: none;
    }
}

.pg-btn-primary {
    @extend .pg-btn;

    background-color: $burntSienna;
    border: 2px solid $burntSienna;
    color: $white;

    &:hover {
        background-color: transparent;
        color: $burntSienna;
    }
}

.pg-btn-primary--outline {
    @extend .pg-btn;

    background-color: transparent;
    border: 2px solid $burntSienna;
    color: $burntSienna;

    &:hover {
        background-color: $burntSienna;
        color: $white;
    }
}

.pg-btn-white--outline {
    @extend .pg-btn;

    background-color: transparent;
    border: 2px solid $white;
    color: $white;

    svg {
        fill: $white;
        transition: 0.3s linear all;
    }

    &:hover {
        background-color: $white;
        color: $burntSienna;

        svg {
            fill: $burntSienna;
        }
    }
}

/*=====  End of Global CSS  ======*/

/*=============================================
=            Ordered List CSS            =
=============================================*/

ol {
    counter-reset: my-awesome-counter;
    list-style-type: decimal;
    margin: 0;
    padding: 16px 0 16px 35px;

    li {
        counter-increment: my-awesome-counter;
        position: relative;

        &:after {
            background-color: $white;
            height: auto;
            left: -25px;
            position: absolute;
            top: -1px;
            width: auto;
        }
    }
}

/*=====  End of Ordered List CSS  ======*/

/*=============================================
=            Unordered List CSS            =
=============================================*/

ul {
    padding-left: 1rem;
}

/*=====  End of Unordered List CSS  ======*/

/*=============================================
=            Table CSS            =
=============================================*/

table {
    border-collapse: collapse;
    color: $codGray !important;
    margin: 16px 0 32px !important;
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(md) {
        margin-bottom: 50px !important;
    }

    thead {
        background-color: $springWood;

        th {
            border: 0;
            color: $codGray;
            font-size: $fs-d-body;
            min-width: 140px;
            padding: 0.75rem;
            vertical-align: bottom;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: $springWood;
            }

            td {
                border: 0;
                padding: 0.75rem;
            }
        }
    }
}
/*=====  End of Table CSS  ======*/

.owl-carousel {
    .owl-stage {
        align-items: center;
        display: flex;
    }
}

.owl-theme {
    .owl-dots {
        margin-top: 32px !important;
        text-align: right;

        .owl-dot {
            span {
                background-color: transparent;
                border: 1px solid $burntSienna;
                height: 8px;
                width: 8px;
            }

            &.active,
            &:hover {
                span {
                    background-color: $burntSienna;
                }
            }
        }
    }
}

.wpcf7-response-output {
    border-color: $blueWood !important; 
    color: $blueWood !important; 
}

.pg-bg-navy {
    .wpcf7-response-output {
        border-color: $white !important;
        color: $white !important;
    }
}
